<div class="navigation col-lg 12">
  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <a [routerLink]="['/home']" class="navbar-brand">{{title}}</a>
      </div>

      <ul class="nav navbar-nav">
        <li>
          <a [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-home"></span> Inicio</a>
        </li>
        <li>
          <a [routerLink]="['/cliente']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-star"></span> Cliente</a>
        </li>
        <li>
          <a [routerLink]="['/producto']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-gift"></span> Producto</a>
        </li>
        <li>
          <a [routerLink]="['/proveedor']" [routerLinkActive]="['active']">
            <span class="glyphicon glyphicon-comment"></span> Proveedor</a>
        </li>
      </ul>
    </div>
  </nav>
</div>
<hr>
<div class="col-lg-11">
  <router-outlet></router-outlet>
</div>