<div class="col-lg-8 col-lg-offset-2">
    <div class="jumbotron">
        <h1>{{title}}</h1>
        <p>Pagina de inicio del sistema de stock!!!</p>
        <P>
            <a class="btn btn-primary btn-lg" role="button" [routerLink]="['/cliente']">
                Ver Clientes
            </a>
        
            <a class="btn btn-success btn-lg" role="button" [routerLink]="['/producto']">
                Ver Productos
            </a>
      
            <a class="btn btn-warning btn-lg" role="button" [routerLink]="['/proveedor']">
                Ver Proveedores
            </a>
        </P>
    </div>
</div>